.question {
    border-top: 2px solid #69B578;
    border-left: 2px solid #69B578;
    border-right: 2px solid #69B578;
    margin: 30px 0 0 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: 175px;
}

.question-category {
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.question-text {
    padding-bottom: 40px;
}

.answer {
    width: calc(100% - 24px);
    height: 35px;
    line-height: 35px;
    outline: none;
    font-size: 1.25rem;
    border: 2px solid #69B578;
    margin-bottom: 35px;
    color: #ffffff;
    padding: 0 10px 0 10px;
    background-color: rgba(40, 44, 52, 0.8);
}

.button-container {
    display: flex;
    min-height: 90px;
    flex-direction: column;
}

.is-wrong {
    color: #C92828;
    text-align: center;
    opacity: 0;
    animation: fadein 760ms forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}